@font-face {
	font-family: "OpenSans";
	src: local("Open Sans"), local("Open Sans Bold"), local("OpenSans"), local("Open-Sans"),
		url("../fonts/OpenSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "OpenSans";
	src: local("Open Sans"), local("Open Sans Regular"), local("OpenSans"), local("Open-Sans"),
		url("../fonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
